
<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
         <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img height = "300px"src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name : Anu Abhilash</h5>
                      <p class="card-text">Address : Kottor House</p>
                      <p class="card-text">Patient Id : 7854</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img height = "300px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfuSTDCkFtxG2yl9qDYnHEwV6vF6Y9hkbiuzLmOaVoO_jupwImy1-NmP_kd8LiPzaimI8&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name : Aravind Swamin</h5>
                      <p class="card-text">Address : Shiva Villa</p>
                      <p class="card-text">Patient id : 7851</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://media.istockphoto.com/id/1016761216/photo/portrait-concept.jpg?s=612x612&w=0&k=20&c=JsGhLiCeBZs7NeUY_3wjDlLfVkgDJcD9UCXeWobe7Ak=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Abraham Mathew</h5>
                  <p class="card-text">Address : Godwill Villa</p>
                  <p class="card-text">Ptient Id : 5469</p>
                  
                </div>
              </div></div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://www.shutterstock.com/image-photo/human-face-women-portrait-260nw-296481974.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Steffy Abrem</h5>
                  <p class="card-text">Address : Kalathoor House</p>
                  <p class="card-text">Patient id : 7458</p>
                  
                </div>
              </div></div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://image.shutterstock.com/image-photo/portrait-laughing-businesswoman-long-dark-260nw-235195312.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Anusree Rakhi</h5>
                  <p class="card-text">Address : Vijaya Madom</p>
                  <p class="card-text">Patient id : 4521</p>
                  
                </div>
              </div></div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIhMDswuvJSmKllrp6VUJbwS_ID6CxQiiz950PHJRsnk2rumvPadG1_XGUCRzsAf_UvQg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Melwin Luke</h5>
                  <p class="card-text">Address : Melwin Villa</p>
                  <p class="card-text">Patient id : 5656</p>
                  
                </div>
              </div></div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLuY1nyK41hv_giwvCnyy8pYMCQc6chVNlCTMT4fPuw6NkKitUoFLXkACgPdbJJmz52xE&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Siju Wilson</h5>
                  <p class="card-text">Address : kalathil House</p>
                  <p class="card-text">Patient id :7421</p>
                  
                </div>
              </div></div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4PDisw-2F6mvuzvKP8e9c0NTe4kjYTz9KLirn2YRo9D4ME0bp8MNe4qAaBZtmne0vr5I&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Prabha Raj</h5>
                  <p class="card-text">Address : Aswani Madon</p>
                  <p class="card-text">MPatient id :6352</p>
                  
                </div>
              </div></div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://www.shutterstock.com/image-photo/image-handsome-smiling-young-african-260nw-722913181.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Suresh Kumar</h5>
                  <p class="card-text">Address : Agraha villa</p>
                  <p class="card-text">MPatient id :5546</p>
                  
                </div>
              </div></div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg4 col-xl-3 col-xxl-3"> <div class="card" style="width: 18rem;">
                <img height = "300px"src="https://www.shutterstock.com/image-photo/people-lifestyle-indoor-shot-young-260nw-492175654.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name : Zaleem Ibrahim</h5>
                  <p class="card-text">Address : Mandedathe House</p>
                  <p class="card-text">Patient id : 6547</p>
                  
                </div>
              </div></div>
         </div>
        </div>
    </div>
</div>
